spring:
  application:
    name: config-service
  cloud:
    discovery:
      enabled: true
    config:
      server:
        git:
          uri: ${HOME}/Be-Serious/Learning/ENSET/S3/Systemes_Paralleles_et_Distribues/Labs/conference-lab/backend/config/

server:
  port: 9999

