services:
  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: keycloak
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - "8180:8080"
    volumes:
      - ./keycloak/conference-realm.json:/opt/keycloak/data/import/conference-realm.json
    command:
      - start-dev
      - --import-realm
    networks:
      - conference-network

networks:
  conference-network:
    driver: bridge
