spring:
  application:
    name: gateway-service
  cloud:
    discovery:
      enabled: true
    config:
      enabled: true
  config:
    import: optional:configserver:http://localhost:9999/

server:
  port: 8888
